# Ignore Python bytecode
__pycache__/
*.py[cod]

# Ignore environment files
.env

# Ignore virtual environment directories
venv/
env/

# Ignore system files
.DS_Store
Thumbs.db

# Ignore Jupyter Notebook checkpoints
.ipynb_checkpoints/

# Ignore logs
*.log

# Ignore any other sensitive or temporary files
*.tmp
*.bak 